@import '../../css/quasar.variables.styl'
.container_color
    height: 100vh;
    width: 100vw;
    background: $secondary
    background: $capa_fondo

.contenedor:before
    background-image: url(../../statics/fondo.png)
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);

.contenedor 
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;

.q-item:hover
    .q-focus-helper
        background: $positive;
        opacity: 1;
        color: #fff;
        border-radius: 10px; 