@import '../../../css/quasar.variables.styl'
.card-login
    max-width: 500px
    background: $primary; 
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding-top: 0%;
    border: solid 1px $principal;

// .contenedor_todo
// 	height:100vh;
// 	width:100vw;
// 	background: $secondary;

.input-login
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-bottom: 30px !important;

.input-login-2
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-bottom: 20px !important;

.botron-login
	min-width: 100px !important;

.contenedor
	min-width : 400px !important;
	max-width : 700px !important;
	min-height: 450px !important;
	max-height: 700px !important;
.columna-iz
	padding-top: 100px;
.texto-top
	padding-top: 20px;

.texto-bottom
	padding-bottom: 50px;
.inicio
	min-width: 150px;
	color: $primary !important;
	background-color: #ffffff;

.logo
	padding: 12px;
	width: 144px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 50%;

.texto {
    color : $titulo;
}

.bienvenido
	background: $titulo_grande;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

.contenedor_todo:before
    background-image: url(../../../statics/fondo.png)
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);

.contenedor_todo 
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;

.g-signin-button {
    /* This is where you control how the button looks. Be creative! */
    min-width: 105px
    min-height: 36px;
    display: inline-block;
    padding: 5px 15px 5px 7px;
    border-radius: 25px;
    background:#4285f4
    color: #fff;
    box-shadow: none;
    cursor: pointer
}
.logo_google
    font-size: 26px !important;
    min-height: 26px !important;
    min-width: 26px !important;
    background: #fff;
    margin-right: 5%;

.img_google
    padding: 15%;